.bg-cover {
    background-image: url("../Images/Login_BG.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    padding: 30px;
    text-align: center;
}

input {
    margin-bottom: 10px;
    align-content: center;
}
